@charset:utf-8
	
/* common */

header{
	width:100%;	
}

.logo{
	font-size:32px;
	font-weight: bold;
	color:#333333;
}

cf:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
	
}
	
/* PC Style */	
@media screen and (min-width:641px) {
	
	#header{
		width:960px;
		margin:0 auto;
	}
	
	.logo{
		padding:20px;
	}
	
	
	
	nav ul li{
		float:left;
		text-align: center;
		border-bottom:2px solid #CCCCCC;
	}
	
	nav ul li a{
		color:#333333;
		display: block;
		width:140px;
		padding:20px;
	}
		
	nav ul li a:hover{
		border-bottom:2px solid #333333;
	}
		
	.menu{
		display:none;
	}
}

/* Mobile Style */

@media screen and (max-width:640px) {
	
	#header{
		width:96%;
		margin:0 auto;
	}
	
	.logo{
		padding:10px;
	}
	
	.menu{
		position:absolute;
		top:10px;
		right:5%;

	}
	
	nav{
		position:absolute;
		top:0;
		right:0;
		z-index: 9999;
	}
	
	nav ul li{
		text-align: center;
		border-bottom:1px solid #333333;
	}
	
	nav ul li a{
		display: block;
		border-left:1px solid #333333;
		border-bottom:1px solid #333333;
		min-width:160px;
		padding:20px;
		color:#333333;
	}
	
}